@charset "UTF-8"; 
*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
#lista{
    background-color: #a70a13;
    list-style-type: none;  
    padding: 10px;
    font-size: 1em;
    font-weight: bold;
    padding-left: 20px;
    display: flex;
    justify-content: space-between;
}
.lista-container > ul > li{
    display: inline-block;
    margin-right: 20px;
    vertical-align: top;
}
.lista-container a{
 color: rgb(255, 255, 255);
 font-size: 0.9em;
 text-decoration: none;
 font-weight: 100;
}
.lista-icon{
    width: 15px;
    margin-right: 10px;
    vertical-align: text-top;
}
#lista-container a{
    cursor: pointer;

}

header{
    background-color: red;
    display: flex;
    text-align: center;
    padding: 15px;
    align-items: center;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.377);
}
header> a >img {
    width: 10%;
    width: 180px;
    color: white;
    vertical-align: bottom;
}
#search{
    padding: 10px;
    outline: none;
    border: none;
}
#search::placeholder{
    font-size: 1.3em;
    text-shadow: 1px 0px 2px rgba(0, 0, 0, 0.5);
}
#pesquisar{
    background-color: white;
    border: 2px solid rgb(255, 255, 255);
    padding: 5px;
    width: 800px;
    height: 45px;
    display: flex;
    justify-content: space-between ;
    margin-left: 20px;
    border-radius: 10px;
    vertical-align: bottom;
}
#icone-pesquisar{
    width: 20px;
    height: 20px;
    margin-top: 10px;
    padding: 0;
    vertical-align: baseline;
    margin-right: 10px;
}
#icon-person{
    width: 20px;
    padding: 10px;
    border-radius: 50%;
    background-color: #a70a13;
    margin-left: 8px;
}
#perfil-compra{
    display: flex;
    
}
#texto-perfil-compra{
    color: white;
    margin-left: 8px;
    font-size: 0.9em;
    vertical-align: bottom;
    text-align: start;
    line-height: 20px;
}
.icon{
    width: 30px;
    margin-left:25px;
}
.icon:hover{
    opacity: 0.4;
    transition: 0.2s ease-in-out;
}