@charset "UTF-8"; 
*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

section#lista{
    background-color: #a70a13;
    list-style-type: none;  
    padding: 10px;
    font-size: 0.8em;
    font-weight: bolde;
}
section#lista > ul > li > a {
    color: white;
    text-decoration: none;
}
section#lista > ul {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}
section#lista > li {
    list-style-type: none;
    
}
.material-symbols-outlined{
    vertical-align: bottom;
}
section#lista a:hover{
    opacity: 0.2;
    transition-duration: 0.8s;
}
header{
    background-color: red;
    display: flex;
    text-align: center;
    padding: 15px;
    align-items: center;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.377);
}
header> a >img {
    width: 10%;
    width: 180px;
    color: white;
    vertical-align: bottom;
}
#search{
    padding: 10px;
    outline: none;
    border: none;
}
#search::placeholder{
    font-size: 1.3em;
    text-shadow: 1px 0px 2px rgba(0, 0, 0, 0.5);
}
#pesquisar{
    background-color: white;
    border: 2px solid rgb(255, 255, 255);
    padding: 5px;
    width: 800px;
    height: 45px;
    display: flex;
    justify-content: space-between ;
    margin-left: 20px;
    border-radius: 10px;
    vertical-align: bottom;
}
#icone-pesquisar{
    width: 20px;
    height: 20px;
    margin-top: 10px;
    padding: 0;
    vertical-align: baseline;
}
